# Base de datos
DB_USER=lexis
DB_PASSWORD=lexis_password
DB_NAME=lexis_db
DB_HOST=localhost
DB_PORT=5432

# Connection string pg
DATABASE_URL=postgresql://lexis:lexis_password@localhost:5432/lexis_db

# Backend
PORT=3000
NODE_ENV=development

# pgAdmin (opcional)
PGADMIN_EMAIL=admin@lexis.com
PGADMIN_PASSWORD=admin
