@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #0f172a; /* Tipografia Principal*/
  --color-accent: #586F6B; /* Color para acentuar botones y UX */
  --color-secondary: #CFC0BD; /* Otros */
  --color-card: #B8B8AA ; /* Color para diferenciar elementos en pantalla (Tarjetas, etc) */
  --color-bg: #DDD5D0; /* Color para fondos */

  --main-font: "Roboto";
}

[data-theme="dark"] {
  --color-primary: #f8fafc; /* Tipografia Principal clara */
  --color-accent: #34d399; /* Color para acentuar (más brillante) */
  --color-secondary: #334155; /* Otros (más oscuro) */
  --color-card: #1e293b; /* Color para tarjetas */
  --color-bg: #0f172a; /* Fondo principal oscuro */
}

body{
  background-color: var(--color-bg);
}
