@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #1C1917;   /* Tipografia Principal (Deep Espresso - Máximo contraste) */
  --color-accent: #B86846;    /* Color para acentuar (Terracotta Warm) */
  --color-secondary: #A89F91; /* Elementos secundarios y bordes (Warm Taupe) */
  --color-card: #E8E2D5;      /* Tarjetas y contenedores (Parchment Cream) */
  --color-bg: #F5F0E6;        /* Fondo principal (Rich Warm Cream) */

  --main-font: "Roboto";
}

[data-theme="dark"] {
  --color-primary: #FAF8F5;   /* Tipografia Principal (Minimal Alabaster Cream - Alto contraste) */
  --color-accent: #D97736;    /* Color para acentuar (Warm Amber) */
  --color-secondary: #8C8275; /* Elementos secundarios y bordes (Muted Warm Taupe) */
  --color-card: #2D2825;      /* Tarjetas y contenedores (Dark Roast Espresso) */
  --color-bg: #1C1917;        /* Fondo principal oscuro (Deep Espresso) */
}

body{
  background-color: var(--color-bg);
}
